.slider {
    position: relative;
        &__items {
            width: getEm(100,'%');
            height: getEm(100,'%');
            position:relative;
            overflow: hidden;
            display: flex;
            flex-flow: row nowrap;
        }
        &__item {
            flex-basis: getEm(100,'%');
            min-width: getEm(100,'%');
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }
        

    &__image-preview-wrapper {
        display: none;
        position: absolute;
        bottom:getEm(5,'%');
        height: getEm(20,'%');
        background: $white;

        outline: 10px solid yellow;
    }
    &__image-preview {
            opacity: .8; 
            width:auto;
            max-height:100%;
            max-width:100%;
        &:hover {
            opacity: 1;
        }
    }
    &__image-wrapper {
        // min-width:100%;
        // min-height: 100%;
        width: getEm(100,'%');
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

    }
    &__image {
        width: getEm(100,'%');
        height: auto;
        flex-shrink: 0;
        flex-grow: 1;
    }

    &__description {
        display: none;
    }

    &--service1 {
        // background-image: url("./service-image-1.png")
    }
    &--service2 {
        // background-image: url("./service-image-2.png")
    }
    &--service3 {
        // background-image: url("./service-image-3.png")
    }
}

@import './media-667/slider.scss';
@import './media-1400/slider.scss';
