.menu {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    box-sizing: border-box;
    padding: 0px getEm(30);
    background: $grey-dark;
    transition: max-height 0.3s;
    max-height:0px;
    font:{
      size: 2em;
      family: ProximaNova;
    }
    &>a {
        display: block;
        color: $white;
        text: {
            transform: uppercase;
            decoration: none;
        }
        margin: auto;
    }
    &--is-open {
        margin:0;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        z-index:999;
        max-height: 200px;
    }
}


@import './media-1400/menu';
