@media (min-width: #{getEm(667,'px')}) {
    .service__image {
        display: block;
        height: getEm(320);//276 // фиксированая высота - вероятно вынести на уровень настроек layout'a
        order: -1;
    }
}
