@media (min-width: 667px) {
    .service {
        flex-wrap: wrap;
        height:100%;
        &>* { // чтобы не упустить переопределение размеров в детях - определяем тут. Но придется повысить приоритет для слайдера - так как он выходит за рамки.
            width: 50%;
        }
    }
}
