.main-footer__social-links {
    align-self: stretch;
    height: getEm(40);
    font-size: getEm(40);
    margin:0;

    /* маленький хак чтобы социалки не вылезали за ширину экрана */
    max-width:100%; 
    overflow: hidden;
}

@import './media-667/main-footer__social-links';
