.main-footer__link {
    font: {
        family: ProximaNova;
        size: getEm(15);
        weight: normal;
        style: normal;
        stretch: normal;
    };
    line-height: 1.2;
    letter-spacing: normal;
    color: $black;
    text-decoration: underline;

    &--oferta {

    }
    &--delivery {

    }
}
