@media (min-width: #{getEm(1400,'px',12)}) {
    .order {
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
        height: getEm(100,'%');
        width: getEm(100,'%');
        position: relative;

        &>* {
            width:  getEm(50,'%');
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            padding-right: #{getEm(40,'rem',12)};
            padding-left: #{getEm(105,'rem',12)};
        }
        &>.order__caption { 
            padding-left: getEm(95,'rem',12);
        }

        &>.order__image {
            min-width:  getEm(50,'%');
            padding-right: 0px;
            padding-left: 0px;
        }
        &>.order__caption {
            display: block;
            padding-top: #{getEm(120,'rem',12)}; 
            margin-left: -#{getEm(60,'rem',12)};
            padding-right: 0px;
            padding-left: 0px;
        }
    }
}
