.order__note {
    font: {
        family: ProximaNova;
        size: getEm(14);
        weight: normal;
        style: normal;
        stretch: normal;
    };
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: $black;
    margin-bottom:0;

    padding: 0;
    margin-top: getEm(40);
    margin-bottom: getEm(40);
}

@import './media-667/order__note';
@import './media-1400/order__note';
