.order__question {
    font: {
        family: ProximaNova;
        size: getEm(18);
        weight: normal;
        style: normal;
        stretch: normal;
    };
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: $black;
}

@import './media-667/order__question';
@import './media-1400/order__question';
