.form-label {
    font-family: ProximaNova;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black;

    margin: 4px 22px;
}
