.note-question {
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: $black;

    margin-bottom: 15px;
    margin-right:22px;
    margin-left:22px;
    margin-top:25px;
    max-width:328px;
}
