.service {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    &>* {
        flex: 0 0 auto;
    }
}

@import './service__caption';
@import './service__image';
@import './service__slider';
@import './service__description';
@import './service__note-caption';
@import './service__note';
@import './service__subnote';
@import './service__button-buy-sertificate';
@import './service__button-call';
@import './service__link-call';
@import './service__button-details';
@import './service__buttons';

@import './media-667/service.scss';
@import './media-1400/service.scss';
