.service__note {
    font: {
        family: ProximaNova;
        size: getEm(12);
        weight: normal;
        style: normal;
        stretch: normal;
    }
    line-height: 1.17;
    letter-spacing: normal;
    color: $grey;
    &--list {
        list-style: none;
        padding: 0px;
        &>li {}
    }
}
