.image {
    background: {
        image: url("./pic.jpg");
        repeat:  no-repeat;
        size: cover;
    };
    width:auto;
    align-self: stretch;
    &--service0 {
        background-image: url("./service-image-0.png");
    }
    &--order {
        background-image: url("./order-image.png");
    }
}
