@media (min-width: 1400px) {
    .main-header {
        display: flex;
        flex-flow: row wrap;
        flex: 0 1 auto;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding:0 getEm(10);
    }
}
