@media (min-width: #{getEm(667,'px')}) {
    .order__note {
        order:5;
        font: {
            size: getEm(12);
        }
        box-sizing: border-box;
        padding: 0px getEm(20);
        margin: 0px;
    }
}
