.support {
    text-transform: uppercase;
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black;
}

.support__icon {
    display: inline-block;
	position: relative;
	padding:0px;
    margin:0 0 -2.4em -3em;
    width:0;
    height:0;
    font-size: 1em;
	/* css3 */
    -webkit-border-radius:50%;
	-moz-border-radius:50%;
    border-radius:50%;
    border: 1em solid $green;
    color: $green;
}

/* созаем прямоугольник,
 цвет которого будет у  "хвостика" */
 .support__icon:before {
    content:".";
    display: block;
	position:absolute;
	top:-1.3em;
	left:-2.1em;
	padding:0px;
    margin:0;
    width:0;
    height:0;
	color:$white;
	background:$white;
	/* css3 */
    -webkit-border-radius:50%;
	-moz-border-radius:50%;
    border-radius:50%;
    border: 1.2em solid $white;
}

/* созаем прямоугольник,
 цвет которого будет у  "хвостика" */
 .support__icon:after {
    content:".";
    display: block;
	position:absolute;
	top:-1.3em;
	left:-.5em;
	padding:0px;
    margin:0;
    width:0;
    height:0;
	/* css3 */
    -webkit-border-radius:50%;
	-moz-border-radius:50%;
    border-radius:50%;
    border: 1em solid $green;
}
