@media (min-width: #{getEm(667,'px')}) {
    .subvideo-area {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        flex:0 0 auto;
    }
}
