.video-area__video {
    width:100%;
    height:auto;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    object-fit: fill;
    margin:0;
    padding:0;

}
