.video-area__video-container {
    position: absolute;
    overflow: hidden;
    height:100%;
    width:100%;
    // padding-bottom: 55.75%;
    z-index:10;
    // height:100vh;
    top:0;
    left:0;
    // position: absolute;
    outline:1px solid red;
}
