.quantity {
    display: block;
    box-sizing: border-box;
    height: 51px;
    line-height: 51px;
    text-transform: uppercase;
    border: solid 1px $black;
    text-align:center;

    margin: 0px 22px 12px;
    // width: 328px;
    width: auto;
    align-self: stretch;
}
