.call-link {
    font-family: LucidaGrande;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $grey-darkest;

    margin: 15px auto;
    margin-right:22px;
    margin-left:22px;
    
    &::before {
        content: '📞  ';
        color: inherit;
        display: inline;
    }
}
