.service-description {
    font-family: ProximaNova;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    color: $grey;

    max-width:328px;
    margin-bottom: 15px;
    margin-right:22px;
    margin-left:22px;
}
