.support {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font: {
        family: ProximaNova;
        size: getEm(14);
        weight: bold;
        style: normal;
        stretch: normal;
    };
    line-height: normal;
    letter-spacing: normal;
    color: $black;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

/* Цвет основного хвостика */
.support__icon {
    display: inline-block;
    position: absolute;
    left: -#{getEm(40, em)};
    bottom: -#{getEm(5, em)};
	padding:#{getEm(0,'px')};
    width: 0px;
    height: 0px;
    font-size: getEm(4, em);
    // margin: 0px 0px -2.4em -3em;
	/* css3 */
    -webkit-border-radius:50%;
	-moz-border-radius:50%;
    border-radius:50%;
    border: getEm(14, em) solid $green;
    color: $green;
}

/* обрезаем "шарик" до "хвостика <месяца>" */
 .support__icon:before {
    content:".";
    display: block;
	position:absolute;
	top: -#{getEm(18.2, em)}; //-1.3em;
	left:-#{getEm(29.4, em)}; //-2.1em;
	padding:#{getEm(0,'px')};
    margin: 0px;
    width: 0px;
    height: 0px;
	color:$white;
	background:$white;
	/* css3 */
    -webkit-border-radius:50%;
	-moz-border-radius:50%;
    border-radius:50%;
    border: #{getEm(16.8, em)} solid $white; //1.2em solid $white;
}

/* основной шарик который превращает "месяц" в "хвостик" и создает итоговое "облачко" */
 .support__icon:after {
    content:".";
    display: block;
	position:absolute;
	top:-#{getEm(18.2, em)}; //-1.3em;
	left:-#{getEm(7, em)}; //.5em;
	padding:#{getEm(0,'px')};
    margin: 0px;
    width: 0px;
    height: 0px;
	/* css3 */
    -webkit-border-radius:50%;
	-moz-border-radius:50%;
    border-radius:50%;
    border: #{getEm(14, em)} solid $green; //1em solid $green;
}

//  .support:hover .support__icon {
//     border-color: $blue;
//     &:after {
//         border-color: $blue;
//     }
// }
