@media (min-width: #{getEm(667,'px')}) {
    html {
        // font-size: 1.5vw;
    }
    .page-header {
        &>*{
            max-width: getEm(667);
        }
    }

    .section {
        max-width: getEm(667);
        height: getEm(380); // 335
        margin-bottom: getEm(50);

        &--up38next {
            margin-bottom: 0px;
            height: auto;
        }
        &>.video-area {
            width: auto;
            height: getEm(265);
            margin: 0px getEm(20);
        }
        &>.subvideo-area {
            width: auto;
            margin: 0px getEm(20);
        }
        &--order {
            height: getEm(400);
        }
    }

    .page-footer {
        &>*{
            max-width: getEm(667);
        }
    }
}
