@media (min-width: #{getEm(1400,'px')}) {
    .subvideo-area {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        flex:1 0 auto;
    }
}
