@media (min-width: #{getEm(1400,'px',12)}) {
    .subvideo-area__support-contact {
        // width:50%; // если не фикировать
        position: fixed;
        width: getEm(504,'rem',12);
        z-index:999;
        padding: #{getEm(30,'rem',12)} 0 #{getEm(40,'rem',12)};
        font-size: #{getEm(15,'rem',12)};
        line-height: #{getEm(18,'rem',12)};
        
    }
}
