@media (min-width: #{getEm(1400,'px')}) {
    .subvideo-area__copyright {
        width:50%;
        padding: #{getEm(30)} #{getEm(40)};
        font-size: getEm(15);
        line-height: getEm(18);
        margin-left: auto;
    }
}
