@media (min-width: #{getEm(667,'px')}) {
    .main-footer__footer-block {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
}
