.main-header__menu {
    &--hidden {
        display: none;
        &.menu { // @INFO - нужно конечно было вынести .menu в ребенка .main-header__menu - но из-за мелочи не хотел разметку усложнять. Если вдруг меню разрастется по сложности - тогда вынести. А пока и так норм.
            display: none;
        }
    }
    flex-basis: 100%;
    order:-1;
}
