.slider {
    background-image: url("./pic.jpg");
    background-repeat:  no-repeat;
    background-size: cover;
    width:auto;
    height: 203px;
    align-self: stretch;
    margin-bottom:50px;
    margin-top:20px;
    margin-right: 22px;
    margin-left: 22px;

    &--fullright {
        margin-right: 0px;
        height: 233px;
    }
}
