@import 'normalize-scss';
@import './params';
@import './functions';
@import './animation';
@import './typography';

@media (min-width: #{getEm(320,'px')}) {

// blocks
@import './blocks/button/button';
@import './blocks/image/image';
@import './blocks/slider/slider';

@import './blocks/main-header/main-header';
    @import './blocks/logo/logo';
    @import './blocks/menu/menu';
    @import './blocks/support/support';
    @import './blocks/hamburger/hamburger';
@import './blocks/video-area/video-area';
@import './blocks/subvideo-area/subvideo-area';
@import './blocks/section/section';
@import './blocks/service/service';
@import './blocks/order/order';
@import './blocks/order-form/order-form';
    @import './blocks/denomination/denomination';
    @import './blocks/quantity/quantity';

@import './blocks/main-footer/main-footer';
    @import './blocks/social-links/social-links';
    @import './blocks/social-link/social-link';

@import './layouts/default-layout';
}

div {
    margin:0;
    padding:0;
}
