@media (min-width: #{getEm(1400,'px',12)}) {
    .service__subnote {
        display: block;
        font: {
            family: ProximaNova;
            size: getEm(13,'rem',12);
            weight: normal;
            style: normal;
            stretch: normal;
        }
        line-height: 1.54;
        letter-spacing: normal;
    }
}
