@media (min-width: #{getEm(1400,'px',12)}) {
    .service {
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
        height: getEm(100,'%');
        // width:getEm(1440);
        width: getEm(100,'%');
        position: relative;

        &>* { // чтобы не упустить переопределение размеров в детях - определяем тут. Но придется повысить приоритет для слайдера - так как он выходит за рамки.
            width: getEm(50,'%');
            box-sizing: border-box;

            padding-right: #{getEm(10,'rem',12)};
            padding-left: getEm(143,'rem',12);
            padding-right: #{getEm(155,'rem',12)};
        }
        &>.service__caption {
            padding-left: getEm(95,'rem',12);

            font-size: getEm(65,'rem',12);
            line-height: 100%;
            font-weight: bold;
        }
        &>.service__buttons {
            padding-left: getEm(95,'rem',12);
        }
        &>.service__link-call { // чтобы не упустить переопределение размеров в детях - определяем тут. Но придется повысить приоритет для слайдера - так как он выходит за рамки.
            margin: 0px;
            margin-top:-#{getEm(40,'rem',14)}; // просто поднимаем выше чтобы расширить основную картинку // Не помню почему - но тут надо использовать размер 14 - скорее всего отступ прописан в более ранних медиа - а там используется 14-ый..
            visibility: hidden;
            padding-right: 0px;
            padding-left: 0px;
        }
        &>.service__image {
            min-width: getEm(50,'%');
        }
        &>.service__slider {
            margin: 0px;
            width: auto;
            margin-left: -#{getEm(74,'rem',12)};
            margin-right: #{getEm(40,'rem',12)};
        }
        &>.service__description {
            max-height: getEm(150);
        }

        &--reverse {
            &>* { // чтобы не упустить переопределение размеров в детях - определяем тут. Но придется повысить приоритет для слайдера - так как он выходит за рамки.
                // margin-left: -#{getEm(10)};
                // padding-left: #{getEm(10)};
                // margin-right: 0px;
                // padding-right: 0px;
                margin: 0px;
                padding: 0px;
                box-sizing: border-box;
                padding-right: #{getEm(40,'rem',12)};
                padding-left: #{getEm(105,'rem',12)};
            }
            &>.service__link-call {

            }
            &>.service__image {
                // margin: 0px;
                padding-right: 0px;
                padding-left: 0px;
            }
            &>.service__caption {
                display: block;
                padding-top: #{getEm(120,'rem',12)};
                margin-left: -#{getEm(60,'rem',12)};
                padding-right: 0px;
                padding-left: 0px;

                font-size: getEm(72,'rem',12);
                font-weight: bold;
            }

            &>.service__description {
                font: {
                    size: getEm(26);
                };
                line-height: 1.38;
                margin-bottom: -#{getEm(45)};
            }

            &>.service__note-caption {
                margin-bottom: -#{getEm(45)};
            }

            &>.service__note {

            }
        }
    }
}
