@media (min-width: #{getEm(1400,'px',12)}) {
    .service__description {
        font: {
            size: getEm(16);
        };
        line-height: 1.38;

        font: {
            size: getEm(32);
        };
        line-height: 1.38;
        
        // max-width: getEm(500,'rem',12);
    }
}
