@media (min-width: #{getEm(667,'px')}) {
    .video-area__caption {
        display: flex;
        flex-flow: column nowrap;
        font: {
            family: KudryashevDisplay; //AcademyC;
            size: getEm(45);
            weight: normal;
            style: normal;
            stretch: normal;
        }
        line-height: getEm(50);
        letter-spacing: normal;
        color: $white;
        margin:0;
        margin-top: auto;//getEm(100);
        padding:0;
    }
}
