@media (min-width: #{getEm(667,'px')}) {
    .video-area__caption {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        font: {
            family: KudryashevDisplay; //AcademyC;
            size: getEm(45);
            weight: normal;
            style: normal;
            stretch: normal;
        }
        line-height: getEm(50);
        letter-spacing: normal;
        color: $white;
        margin: 0px;
        // margin-top: auto;//getEm(100);  // Нельзя, в IE-11 поедет верстка.
        padding: 0px;
    }
}
