@media (min-width: #{getEm(667,'px')}) {
    .video-area__button-buy-sertificate {
        height: getEm(35);
        display: flex;
        flex-grow: 0;
        max-width: getEm(250);
        margin: getEm(20) 0;
        padding: 0;
        color: $black;
    }
}
