@media (min-width: 667px) {
    .video-area__caption {
        display: flex;
        flex-flow: column nowrap;
        font: {
            family: AcademyC;
            size: getEm(51);
            weight: normal;
            style: normal;
            stretch: normal;
        }
        line-height: normal;
        letter-spacing: normal;
        color: $white;
        margin:0;
        padding:0;
    }
}
