@media (min-width: 500px) {
    html {
        font-size: 2.0vw;
    }
}

@media (min-width: 667px) {
    html {
        font-size: 1.5vw;
    }
}

@media (min-width: 860px) {
    html {
        font-size: 13px;
    }
}
