@media (min-width: 500px) {
    html {
        font-size: 2.0vw;
    }
}

@media (min-width: 667px) {
    html {
        font-size: 1.5vw;
    }
}

@media (min-width: 1960px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 1400px) {
    html {
        font-size: .6vw;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: .6vw;
    }
}
