@media (min-width: #{getEm(500,'px')}) {
    html {
        font-size: 2.0vw;
    }
}

@media (min-width: #{getEm(667,'px')}) {
    html {
        font-size: 1.5vw;
    }
}

// @media (min-width: #{getEm(1960,'px')}) {
//     html {
//         font-size: #{getEm(13,'px')};
//     }
// }

@media (min-width: #{getEm(1400,'px',12)}) {
    html {
        font-size: .7vw;
    }
}

@media (min-width: #{getEm(1600,'px',12)}) {
    html {
        // font-size: #{getEm(16,'px')};
    }
}

// Включить центрирование контента по высоте 800 относительных пикселей ===> (800*100/1400)em 
// и фиксирование высоты если она меньше #{getEm(800,'px')}
// чтобы не зависеть от порядка пожключения этого файла - для свойств прописаны impotrant'ы
@media (min-width: #{getEm(1400,'px',12)}) {
    @media (min-height: #{getEm(800,'px',12)}) {
        .section {
            padding-top: calc( (( 100vh - #{getEm(800,'rem',12)} ) / 2 ) + #{getEm(120,'rem',12)}) !important;
            padding-bottom: calc( (( 100vh - #{getEm(800,'rem',12)} ) / 2 )) !important;
            &--main {
                padding-top: calc( (( 100vh - #{getEm(800,'rem',12)} ) / 2 )) !important;
            }
        }
    }
    @media (max-height: #{getEm(800,'px',12)}){
        html {
             font-size: 1.4vh !important;
            //  font-size: .9vw !important;
        }
        // .main-header,
        // .section,
        // .main-footer {
        //     // min-height: #{getEm(800,'px')} !important;
        //     // max-width: #{getEm(80,'%')} !important;
        // }
    }
}
